body{
  margin:0;
  background:#0b1220;
  font-family:Arial;
}

/* HEADER */
header{
  position:fixed;
  top:0;
  width:100%;
  z-index:1000;
}

.topbar,.toolbar{
  display:flex;
  gap:10px;
  padding:10px;
  background:#0f1a2e;
  border-bottom:1px solid #1c2b45;
}

/* MODALITÀ */
.mode-switch div{
  cursor:pointer;
  font-size:12px;
}

/* BOTTONI */
button{
  background:#16263f;
  color:#dbe9ff;
  border:1px solid #223a5c;
  padding:6px 10px;
  border-radius:6px;
  cursor:pointer;
}

.hidden{display:none;}

main{
  margin-top:110px;
}

/* CONTAINER */
.container{
  width:985px;
  margin:20px auto 20px 20px; /* margine sx */
}

/* TABELLA */
table{
  width:100%;
  border-collapse:collapse;
  background:#e6edf7;
  table-layout:fixed;
}

th,td{
  border:1px solid #2a3b55;
  padding:6px 4px;
  text-align:center;
}

/* MARKER */
.marker{
  height:8px;
}

/* SPACER */
.spacer{
  height:15px;
  background:#0b1220;
}

/* DROPDOWN */
.dropdown-content{
  position:absolute;
  background:#16263f;
}

/* RIGA INFO */
.info-row{
  text-align:center;
  font-weight:bold;
  color:#fff;
}