body {
  margin: 0;
  font-family: Arial;
  background: #111;
  color: white;
}

header {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  background: #222;
}

button, select {
  padding: 6px;
}

.card {
  background: #1e1e1e;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
  gap: 5px;
}

.grid input {
  width: 100%;
  background: #333;
  color: white;
  border: none;
}

.header {
  font-weight: bold;
}

.marker {
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
}